<header class="nav-bar">
    <div class="logo">JamGraph</div>
    <nav>
        <a href="/account">Account</a>
        <a href="/visualization">Visualizations</a>
        <a href="/feed">Feed</a>
        <a href="/about">About</a>
    </nav>
</header>